@page "/addemployee"

@using BlazorWASMCRUD.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Create Employee</h2>
<hr/>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="EmpName" class="control-label">Name</label>
                <input form="EmpName" class="form-control" @bind="@emp.EmpName" />
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Designation</label>
                <input form="Designation" class="form-control" @bind="@emp.Designation" />
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Department</label>
                <input form="Department" class="form-control" @bind="@emp.Department" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="=col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateEmployee" value="Save"/>
                <input type="button" class="btn" @onclick="@Cancle" value="Cancel"/>
            </div>
        </div>
    </div>
</form>

@code {
    Employee emp = new Employee();
    protected async Task CreateEmployee()
    {
        await Http.PostAsJsonAsync("http://localhost:34451/api/EmployeeInfoes" , emp);
        NavigationManager.NavigateTo("employeeList");
    }
    void Cancle()
    {
        NavigationManager.NavigateTo("employeeList");
    }
}
